/* Estilos generales */
.main-wrapper {
    margin-bottom: 20px;
    min-height: 80vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .table-wrapper {
    overflow-x: auto;
  }
  
button {
  min-width: 25px;
  min-height: 80px;
  padding: 8px;
  margin: 8px;
  justify-content: center;
  align-items: center;
  font-family: "Cormorant Garamond", sans-serif;
}

.custom-alert {
  display: none; /* Por defecto, ocultar el cuadro de diálogo */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.custom-alert-content {
  text-align: center;
}

.custom-alert button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.importarButton,button {
  --background: var(--primary-bg);
  --edge-size: .5rem;
  font-size: 1.5rem;
  margin: 1.5rem 0;
  display: inline-grid;
  padding: 0.5em 1.5em;
  border: 0;
  background-color: #8d1d30;
  border-color:var(--primary-color);
  color: white;
  border-width: 2px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
  border-radius: 0 2rem 0 2rem;
  transition: background-color 1s ease;
}



button:hover {
  background-color: var(--primary-color);
}

.selec-bodegas-vontainer {
  .selec-bodegas-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

  }
  .selec-bodegas-wrapper button {
    flex: 1 1 auto;
    margin: 8px;
    max-width: 90%; 
    height: 80px; 
    min-width: 100px;
    text-align: center;
}
}


h2 {
  margin: 1rem;
}


  table {
    width: 90%;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 1140px;
  }
  
  th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  @media screen and (max-width: 768px) {
    table {
      border: 0;
    }
  
    table thead {
      display: none;
    }
  
    table tbody, table tr, table td {
      display: block;
      width: 100%;
    }
  
    table td {
      border: none;
      border-bottom: 1px solid black;
      position: relative;
      padding-left: 50%;
      text-align: left;
    }
  
    table td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }
    table tr {
      margin: 2rem 0;
      
        border: 1px solid;
        border-bottom: none;
    }
  
    
    table td:nth-of-type(1):before { content: "Nombre:"; }
    table td:nth-of-type(2):before { content: "Descripción:"; }
    table td:nth-of-type(3):before { content: "Coordenadas:"; }
  }
  


  .noClasesTitle {
    width: 90%;
    text-align: center;
  }
  //-------------------------------------------------------------------------------------

.vinos-wrapper {
  width: 100%;
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    margin: 30px 0;
  }
}

.vino-section {
  width: 90%;
  padding: 1rem 0;
  max-width: 1140px;
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid black;
}

.vinos-wrapper {
  width: 100%;
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elementos-container-top {
  width: 50%;
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-self: flex-start;

}

.img-vino-container {
  width: 18%;
  padding: 10px;


  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
}

.info-vino-derecha {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.anada-vino-container {

  p {
    margin: 0.6rem 0 0.6rem;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
  }
}

.nombre-vino-container {
  h3 {
    font-size: 29px;
    font-family: 'Playfair Display', serif !important;
    font-weight: 700 !important;
    font-variant: small-caps;
  }
}

.descripcion-vino-container {
  em {
    font-style: italic;
  }
}

.vino-mas-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.precio-colum ,
.bodega-colum {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 10px;
  position: relative;
  flex-wrap: wrap;
  justify-content: flex-start;

}

.precio-img, 
.bodega-img {
  margin-bottom: 20px;
  img {
    width: 40px;
  }
}

.precio-titulo, 
.bodega-titulo {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 1.5rem;
}

.elementos-container-bottom {
  width: 50%;
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.varietal-fila,
.maridaje-fila {
  width: 90%;
  li{
    span {
      font-weight: 700;
    }

    p {
      margin: 0.5rem 0;
    }
  }
  
}
.separador {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 20px 0;
}
//.varietal-descripcion {
//  
//}

@media screen and (max-width: 768px) { 
  .vino-section {
    flex-direction: column;
  }
  .elementos-container-top,
  .elementos-container-bottom {
    width: 100%;  
  }
  .elementos-container-top {
    flex-direction: column;
  }
  .precio-colum, 
  .bodega-colum {
  text-align: center;
  p {
    font-size: 1rem;
  }

}
  ol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    li {
      margin: 0.6rem 0;

      p {
        
      font-size: 1rem;
      }
    }
  }
  .separador {
    display: none;
  }
}